extends ../layout.pug
include ../mixins.pug
include ../mixinsNavbar.pug
block scripts 
  script(src="/script/gestiAdmi.js") 
block navbar 
  +navbarAdmision()

block main
  //- paciente trae datos de paciente y persona juntos
  //- si es un paciente de emergencia
  if estado 
    if estado=="creado"
      +alert("Paciente creado exitosamente", "alert-success")
    else if estado=="modificado"
      +alert("Paciente modificado exitosamente", "alert-success")
  +alert(mensajeAlert, alertClass)
  .container-md.d-flex.justify-content-center.align-items-center.mb-3(style="gap: 1rem;")
    form(method="POST", action="/admision/emergencia")
      input(type="hidden", name="genero", value="Masculino")
      button.btn(type="submit" style="background-color:#2196f3; color:white;") Emergencia Hombre
    form(method="POST", action="/admision/emergencia")
      input(type="hidden", name="genero", value="Femenino")
      button.btn(type="submit" style="background-color:#e91e63; color:white;") Emergencia Mujer
  div.container-md.border.border-2.border-dark.rounded-3.d-flex.justify-content-center.align-items-center.form-box.w-75
    form.p-4(novalidate, action="/admision/gestionarAdmision", method="POST")
      .d-flex.align-items-center.justify-content-center.mb-3.gap-2
        h2.mx-auto.mb-0 Admision
        label.mb-0(for="id_admision") ID:
        input.form-control.form-control-sm.w-auto#id_admision(
          type="text",
          value=admision.id_admision || "",
          readonly,
          style="max-width:120px;"
        )
      .row 
        .col
          .mb-3
            ul.list-unstyled.border.border-2.border-dark.rounded-3.p-4.m-3.d-flex.flex-column
              h3 Dato del Paciente
              li.d-flex.align-items-center
                label.form-label.fw-bold.mb-0.me-1(for="id_paciente",readonly) ID:
                input.form-control-plaintext.p-0.m-0(type="text",name="id_paciente", value=paciente.id ||paciente.id_paciente|| "")
              li
                strong DNI: 
                |  #{paciente.dni || ""}
              li
                strong Nombre: 
                |  #{paciente.nombre || ""}
              li
                strong Apellido: 
                |  #{paciente.apellido || ""}
              li
                strong Fecha de Nacimiento: 
                br/
                |  #{paciente.f_nacimiento || ""}
              li
                strong Genero: 
                |  #{paciente.genero || ""}
              li
                strong Direccion: 
                |  #{paciente.direccion || ""}
              li
                strong Telefono: 
                |  #{paciente.telefono || ""}
              li
                strong Telefono Contacto: 
                |  #{paciente.telefono_contacto || ""}
              li
                strong Email: 
                |  #{paciente.mail || ""}
              li
                strong Obra Social: 
                |  #{paciente.obra_social || ""}
              li
                strong Numero de Afiliado: 
                |  #{paciente.cod_os || ""}
              li
                strong Detalle: 
                |  #{paciente.detalle || ""}
              if paciente.dni!=""
                a(href="/admision/crearPaciente?dni=" + paciente.dni class="btn btn-info mt-3") Editar Paciente
              else
                a(href="/admision/crearPaciente?dni="+ (paciente.dni||dni),, class="btn btn-info mt-3") Crear Paciente


        .col 
          if admision   
            .mb-3 
              input(type="hidden", name="id_admision",value=admision.id_admision)
          .mb-3
            label.form-label(for="dni") DNI*
            .input-group
              
              input.form-control(type="number", id="dni", name="dni", value=dni ||paciente.dni|| "", placeholder="48796125")
              button.btn.btn-outline-secondary.text-light(type="button", id="btnBuscar") Buscar
          .mb-3 
            +select("id_motivo", motivos, admision.id_motivo||"","Motivo") 
          .mb-3#derivado
            label.form-label(for="derivado") Derivado por
            input.form-control(type="text", id="derivado", name="derivado", value=admision.derivado || "", placeholder="Nombre del Medico o Institucion")
          .mb-3#turno
            if f_turno!=""          
              label.form-label(for="fecha_turno") Fecha del Turno*
              input.form-control(type="date", id="fecha_turno", name="fecha_turno", value=f_turno || "",readonly)
            else 
              label.form-label(for="fecha_turno") Fecha del Turno*
              input.form-control(type="text",value="El paciente no tiene turno",readonly)
          .mb-3 
            input#egreso_check.btn-check(type="checkbox",name="egresar")
            label.btn.btn-outline-primary(for="egreso_check") Egresa?
            div#egreso_container(style="display: none;")
              label.form-label(for="egreso") Fecha de egreso
              input.form-control(type="date", id="egreso", name="egreso")

        .col 
          br
          .mb-3 
            label.form-label(for="selectCama") Cama Actual 
            if camaSeleccionada.cama&&camaSeleccionada.cama.id_cama
              input.form-control(type="text", value=camaSeleccionada.cama.id_cama || "",disabled)
            else 
              input.form-control(type="text", value="Registre una cama ⬇ ",disabled)

          .mb-3
            label.form-label(for="selectSector") Sector
            select#selectSector.form-select(name="id_sector_selector")
              option(value="") Seleccione un sector
              
              if sectores
                each sector in sectores
                  option(value=sector.id_sector) #{sector.nombre}
              else 
                option(value="") No hay sectores

          .mb-3
            label.form-label(for="selectHabitacion") Habitacion
            select#selectHabitacion.form-select(name="id_habitacion_selector" )

          .mb-3
            label.form-label(for="selectCama") Cama
            select#selectCama.form-select(name="id_cama" )
            br
            br
            br 
            br
          if admision.id_admision!=""
            button.btn.btn-primary(type="submit",id="modificar") Modificar 
          else 
            button.btn.btn-primary(type="submit",id="crear") Crear Admision 
      small Primero se debe buscar el paciente por DNI, luego se puede crear o modificar la admisión.
    script.
      document.addEventListener('DOMContentLoaded', function () {selects("#{paciente.genero || ''}");});
      const checkbox = document.getElementById('egreso_check');
      const container = document.getElementById('egreso_container');

      checkbox.addEventListener('change', () => {
        container.style.display = checkbox.checked ? 'block' : 'none';
      });
      //buscar
      document.getElementById('btnBuscar').addEventListener('click', function() {
        const dni = document.getElementById('dni').value;
        if (dni) {
          window.location.href = '/admision/gestionarAdmision?dni=' + dni;
        } else {
          alert('Por favor, ingrese un DNI valido');
        }
      });
      document.addEventListener('DOMContentLoaded', function() {
        const motivo = document.getElementById('id_motivo');
        const derivado = document.getElementById('derivado');
        const turno = document.getElementById('turno');

       function mostrarOcultarCampos() {
          derivado.classList.remove('d-none');
          turno.classList.remove('d-none');

          if (motivo.value === '2') { // Derivado
            turno.classList.add('d-none');
          } else if (motivo.value === '3') { // Turno
            derivado.classList.add('d-none');
          }else{
            derivado.classList.add('d-none');
            turno.classList.add('d-none');
          }
        } 
        mostrarOcultarCampos();
        motivo.addEventListener('change', mostrarOcultarCampos);
      });

