mixin alert(message, alertClass)
  if message && message !== ""&&message !== null&&message !== undefined  && (!Array.isArray(message) || message.length > 0)
    .alert(class=`${alertClass}` role="alert")
      if Array.isArray(message)
        each msg, i in message
          | #{msg}
          if i != message.length - 1
            br
      else
        = message
  
mixin select(lName,array, selectedValue,nombre)
  label.form-label(for=lName) #{nombre}*
  select.form-select(name=lName, id=lName)
    if array && array.length
      each item in array
        option(value=item.id, selected=(item.id == selectedValue) ? true : false)= item.nombre
    else
      option(value="") No hay opciones disponibles
      
mixin tabla(thead, tbody)
  table.table.table-striped
    thead
      tr
        each th in thead
          th= th
    tbody
      each row in tbody
        tr
          each cell in row
            td= cell
            
mixin debug(vars)
  pre= JSON.stringify(vars, null, 2)
