mixin alert(message, alertClass)
  if message
    .alert(class=`${alertClass}` role="alert")= message

//- lName: string
//- array: array de objetos {id, nombre}
//- [
//-   { id: "F", nombre: "Femenino" },
//-   { id: "M", nombre: "Masculino" },
//-   { id: "O", nombre: "Otro" }
//- ]
//- selectedValue: el id seleccionado
mixin select(lName,array, selectedValue)
  label.form-label(for=lName) #{lName}
  select.form-select(name=lName, id=lName)
    each item in array
      option(value=item.id, selected=(item.id == selectedValue) ? true : false)= item.nombre